.round {
  border-radius: 60%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3rem;
  margin: 20px;
}

.square {
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  position: relative;
  top: 1.2rem;
  /* margin-right: 20rem; */
  margin: 25px;
}

.rounded-corner {
  border-radius: 20%;
  height: 8rem;
  width: 8rem;
  font-size: 5rem;
  margin: 40px;
}

.round,
.square,
.rounded-corner {
  text-align: center;
  /* font-size: 2rem; */
}

.server-1 {
  border-color: rebeccapurple;
}

.server-2 {
  border-color: darkblue;
}

.server-3 {
  border-color: darkgreen;
}

.server-4 {
  border-color: darkorange;
}

body:hover {
  cursor: pointer;
  user-select: none;
}

.n8 {
  margin-right: 50px;
}

.n10 {
  margin-right: 50px;
}
