.round {
  border-radius: 60%;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  margin: 10px;
}

.square {
  height: 2.8rem;
  width: 2.8rem;
  font-size: 1.3rem;
  margin: 8px;
  position: relative;
  top: -1rem;
}

.rounded-corner {
  border-radius: 20%;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  margin: 15px;
}

.round,
.square,
.rounded-corner {
  text-align: center;
}

.server-1 {
  border-color: rebeccapurple;
}

.server-2 {
  border-color: darkblue;
}

.server-3 {
  border-color: darkgreen;
}

.server-4 {
  border-color: darkorange;
}

body:hover {
  cursor: pointer;
  user-select: none;
}

.n8 {
  margin-right: 22px;
}

.n10 {
  margin-right: 22px;
}
