.inline,
.inlineSelect {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: 100%;
}
.inlineSelect {
  padding-left: 0.5em;
}
.inlineContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: middle;
}
.orderForm {
  min-height: 226px;
}
.orderBtnContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}